/* Variables globales de color y texto*/
:root {
  --color-header: #0b0b0b;
  --font-family: "Poppins";
  --color-font: #ffffff;
  --font-size-buttons: 15px;
  --color-card: #ffffff;
}
/* Variables globales de color y texto*/

body {
  background-color: rgb(230, 230, 230);
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

/*header*/

header {
  background-color: var(--color-header);
}
.header-navigation {
  max-width: 100vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
}

.img-nav {
  object-fit: contain;
  width: 120px;
  margin-left: 50px;
}

.nav-links {
  margin-right: 50px;
}
.text-nav-1 {
  margin-right: 20px;
}

.text-nav-2 {
  font-size: 1rem;
  font-family: var(--font-family);
  color: var(--color-font);
}
/*header*/

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /*cambiar a 2 para areas*/
  gap: 20px;
  margin: 20px 20px;
  /* --------------------4 cards en dos columnas-------------------------- */
  grid-template-areas:
    "card-1 card-1"
    "card-2 card-3"
    "card-2 card-3"
    "card-2 card-3"
    "card-4 card-4";

  /* ----------------------4 cards en 1 columna-------------------------- */
  /* grid-template-areas:
    "card-1"
    "card-2"
    "card-3"
    "card-4"; */
}

.card {
  background-color: var(--color-card);
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0px 10px 10px rgb(222, 222, 222);
  overflow-x: auto;
  max-width: 100vw;
}

.textos-card-2 {
  display: grid;
  grid-template-columns: 30% auto;
}
.iframe-2 {
  margin-top: 100px;
}
#card-1 {
  grid-area: card-1;
}
#card-2 {
  grid-area: card-2;
}
#card-3 {
  grid-area: card-3;
}
#card-4 {
  grid-area: card-4;
}

#img-nav {
  margin-top: 15px;
}
.titulo-card {
  font-family: var(--font-family);
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  margin: 0;
  margin-bottom: 10px;
}
.subtitulo-card {
  font-family: var(--font-family);
  font-size: 0.875rem;
  color: #0c8149;
}
.parrafo-card {
  font-family: var(--font-family);
  font-size: 1rem;
  color: rgb(0, 0, 0);
  margin: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 758px) {
  .header-navigation {
    display: grid;
    justify-content: center;
  }
  .img-nav {
    margin: auto;
    margin-top: 30px;
  }
  header nav {
    overflow-x: scroll;
  }
  .text-nav-1 {
    min-width: fit-content;
  }
}

/* responsive */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "card-1"
      "card-2"
      "card-3"
      "card-4";
  }
}
