/* Variables globales de color y texto*/
:root {
  --color-header: #0b0b0b;
  --font-family: "Poppins";
  --color-font: #ffffff;
  --font-size-buttons: 15px;
}
/* Variables globales de color y texto*/

body {
  background-color: blue;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

/*header*/

header {
  background-color: var(--color-header);
}
.header-navigation {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
}
.img-nav {
  object-fit: contain;
  width: 120px;
  margin-left: 30px;
}
.text-nav-1 {
  margin-right: 20px;
}

.text-nav-2 {
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--color-font);
}
/*header*/

main {
  display: grid;
}

.main-iframe {
  max-width: 1200px;
  margin: auto;
  background-color: aliceblue;
  padding: 100px;
  border-radius: 10px;
}

@media screen and (max-width: 758px) {
  .header-navigation {
    display: grid;
    justify-content: center;
  }
  .img-nav {
    margin: auto;
    margin-top: 30px;
  }
  header nav {
    overflow-x: scroll;
  }
  .text-nav-1 {
    min-width: fit-content;
  }
}
