body {
  /* background-image: url(./imagenes/gradient-6.png); */
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  overflow-x: hidden;
}

.featured {
  background-image: url("https://ichef.bbci.co.uk/news/640/cpsprodpb/DC46/production/_126909365_dahmer_101_unit_01793rc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 50px 0px 50px;
  color: white;
  position: relative;
  padding-bottom: 25px;
}

.featured__overview {
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom: 12px;
  border-radius: 10px;
}

.featured__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.featured__content {
  display: grid;
  grid-template-columns: 300px auto;
  column-gap: 20px;
  position: relative;
  z-index: 10;
  margin-bottom: 40px;
}

.featured__image {
  width: 100%;
  object-fit: contain;
  max-width: 500px;
  margin: 0;
}

.featured__button {
  width: 80%;
  margin: auto;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-size: var(--font-size-buttons);
  font-family: var(--font-family);
  font-weight: bold;
  border-radius: 10px;
}

.featured__button svg {
  max-width: 24px;
  margin-right: 8px;
}

.featured__button:hover {
  background-color: #9f09e5;
  color: #ffffff;
  cursor: pointer;
  scale: 1.1;
  transition: 0.2s all ease;
  
}
.featured__button:hover a {
  color: #ffffff;
}

.featured__title {
  margin: 40px 0 15px 0;
}

.featured__details {
  margin-bottom: 15px;
}

.featured__description {
  margin: 0;
  max-width: 700px;
  margin-bottom: 30px;
}

.featured__graphics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  margin-right: 100px;
}

.featured__iframe {
  margin: 0;
  padding: 10px;
  background-color: white;
}

.featured__details {
  display: flex;
  position: relative;
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.featured__menu {
  display: flex;
  list-style: none;
  margin: 0;
  color: #ffffff;
  background: linear-gradient(90deg, #9F09E5 0.56%, #FC9635 99.48%);
  height: 75px;
  position: relative;
  align-items: center;
}

.featured__item {
  display: block;
}

.featured__item:active {
  opacity: 1;
}

.featured__item::after {
  content: "";
  width: 1px;
  height: 20px;
  border-right: 1px solid white;
  opacity: 0.6;
  margin-left: 20px;
  margin-right: 20px;
}

.featured__item:last-of-type::after {
  display: none;
}

.featured__link {
  color: white;
  text-decoration: none;
  opacity: 1;
}

.sections-detalle{
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.titulo-articulos {
  font-size: 2rem;
  font-family: var(--font-family);
  color: black;
  padding-left: 50px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
margin: 0;
}

.reel{
  padding-bottom: 50px;
}

.articulos {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*cambiar a 2 para areas*/
  padding-bottom: 20px;
  gap: 20px;
  margin: 0px 50px;
  /* --------------------cards en dos columnas-------------------------- */
}
.articulos-item {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.2);
  overflow-x: auto;
  /* border: solid 1px #ff9889; */
}
.articulos-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.parrafo-articulo {
  font-size: 12px;
  padding: 15px;
}

.enlaces {
  justify-content: center;
}

.enlaces-2 {
  display: grid;
  grid-template-rows: 1fr;
}

