/* Variables globales de color y texto*/
:root {
  --color-header: #102e4a;
  --font-family: "Poppins";
  --color-font: #cbcbcb;
  --font-size-buttons: 15px;
  --color-card: #ffffff;
}
/* Variables globales de color y texto*/

/* -----------------START SCROLL BAR----------------- */
/* width */
::-webkit-scrollbar {
  width: 8px;
  background-color: #d1d1d1;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(224, 224, 224);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hwb(0 56% 44%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #859fff;
}
/* -----------------END SCROLL BAR----------------- */

body {
  /* background-image: url(./imagenes/gradient-6.png); */
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  overflow-x: hidden;
}

/*header*/

header {
  background-color: var(--color-header);
  background-position: 100px 200px;
  /* box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.1); */
  /* position: fixed; */
  top: 0;
  width: 100%;
}
.header-navigation {
  max-width: 100vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
}

/* .main-2 {
  width: 100vw;
  height: 100vh;
} */
.img-nav {
  object-fit: contain;
  width: 120px;
  margin-left: 50px;
}

.nav-links {
  margin-right: 50px;
}
.text-nav-1 {
  margin-right: 20px;
}

.text-nav-2 {
  font-size: 1rem;
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--color-font);
}

.text-nav-2:hover {
  color: #ffffff;
  cursor: pointer;
}

/* Selecciona cualquier <a> que esté siendo activado */
#Producciones {
  color: #ffffff;
}

#Pulso {
  color: #ffffff;
}

#Actividad {
  color: #ffffff;
}

#Comparate {
  color: #ffffff;
}

#Demanda {
  color: #ffffff;
}

/*header*/
.card {
  background-color: var(--color-card);
  border-radius: 20px;
  padding: 50px;
  /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.2);
  overflow-x: auto;
  max-width: 100vw;
  /* border: solid 1px #ff9889; */
}

.textos-card-2 {
  display: grid;
  grid-template-columns: 20% auto;
}
.iframe-2 {
  margin-top: 50px;
}
.flourish-embed flourish-radar {
  width: 100px !important;
  height: 50px !important;
}
#card-1 {
  grid-area: card-1;
  overflow-y: hidden;
  margin-top: 10px;
}
#card-2 {
  grid-area: card-2;
  overflow-y: hidden;
  margin-top: 10px;
}
#card-3 {
  grid-area: card-3;
  overflow-y: hidden;
  margin-top: 10px;
}
#card-4 {
  grid-area: card-4;
  overflow-y: hidden;
}
#card-5 {
  grid-area: card-5;
  overflow-y: hidden;
}

#img-nav {
  margin-top: 15px;
}

.button {
  text-align: left;
  text-decoration: none;
}
#link-button {
  text-decoration: none;
}
.button-parrot-pulse {
  width: 200px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  font-size: var(--font-size-buttons);
  font-family: var(--font-family);
  border-radius: 15px;
  color: #000000;
  border: 2px solid;
}
.button-parrot-pulse:hover {
  background-color: #142b52;
  color: #ffffff;
  cursor: pointer;
  scale: 1.1;
  transition: 0.5s all ease;
}
.button-parrot-pulse:hover a {
  color: #ffffff;
}

.titulo-card {
  font-family: var(--font-family);
  font-size: 1.5rem;
  color: #061e48;
  margin: 0;
  margin-bottom: 10px;
}
.subtitulo-card {
  font-family: var(--font-family);
  font-size: 0.875rem;
  color: #8bd1b9;
  margin: 0;
  padding: 0;
}
.parrafo-card {
  font-family: var(--font-family);
  font-size: 0.75rem;
  color: #061e48;
  margin: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 758px) {
  .header-navigation {
    display: grid;
    justify-content: center;
  }
  .img-nav {
    margin: auto;
    margin-top: 30px;
  }
  header nav {
    overflow-x: scroll;
  }
  .text-nav-1 {
    min-width: fit-content;
  }
}

/* responsive */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "card-1"
      "card-2"
      "card-3"
      "card-4";
  }
}
