  .hero{
    background-image: url(../imagenes/bg-inicio.png);
    width:100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position:top right;
    justify-content: center;
    margin: auto;
    max-width: 1400px;

  }

  .hero-inicio{
    justify-content: center;
    width: 100%;
  }


.titulo-card-inicio {
    text-align: left;
    margin: 0;
    padding-top: 100px;
    padding-left: 70px;
    font-size: 3rem;
    color: white;
    font-family:var(titulo-card);
    line-height:3.5rem;

}

  .parrafo-inicio {
    font-size: 1.2rem;
    color: white;
    text-align: left;
    margin: 0;
    padding-top: 20px;
    padding-left: 70px;

  }

  .button-inicio{
    text-align: center;
      width: 375px;
      height: 60px;
      border-radius: 10px;
      background-color: #9F09E5;
      color: #FFFFFF;
      border: none;
      font-family: var(--font-family);
      font-weight: 600;
      margin-left: 70px;
      margin-top: 50px;
      font-size: 1rem;
    
    }
    .button-inicio:hover {
      background-color: #9F09E5;
      color: #ffffff;
      cursor: pointer;
      scale: 1.1;
      transition: 0.5s all ease;
      border: none;
    }


  .separate-section{
    background: linear-gradient(90deg, #9F09E5 0.56%, #FC9635 99.48%);
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0;
  }


.section-2{
    width: 100%;
    height: 200px;
  }
  
.titulo-card-inicio-2 {
  font-family: var(--font-family);
  font-size: 2.5rem;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 100px;
  line-height:3.5rem;

}


  .parrafo-inicio-2 {
    font-family: var(--font-family);
    font-size: .90rem;
    color: #6C6D6D;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }


  .services-section{
    display: grid;
    gap: 50px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 200px);
    
  }

  .services{
    background-color: #9F09E5;
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
  }
  
  .contain {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* column-gap: 100px; */
    /* row-gap: 100px; */
    gap: 25px;
    grid-template-rows: 2;
    margin-bottom: 100px;
    padding: 20px;
    max-width: 1400px;
    margin: auto;
}

.box {
    background-color: #27262C;
    border-radius: 15px;
    padding-left:40px;
    padding-right: 40px;
    padding-top: 30px;
    height: 300px;
}

.titulo-card-1{
  font-size: 1.5rem;
  background: linear-gradient(90deg, #9F09E5 0.56%, #FC9635 99.48%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
text-align: center;
padding: 0;
margin: 0;
}

.subtitulo-card-1{
  font-size: 3rem;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0;

}
.subtitulo-card-3{
  font-size: 1rem;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0;

}

.text-gradiente{
  background: linear-gradient(92.15deg, #9F09E5 1.36%, #FC9635 57.44%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.button-plan{
    width: 100%;
      text-align: center;
      height: 60px;
      border-radius: 10px;
      background-color: #9F09E5;
      color: #FFFFFF;
      border: none;
      font-family: var(--font-family);
      font-weight: 600;
      margin-top: 50px;
      font-size: 1rem;
    
    }
    .button-plan:hover {
      background-color: #9F09E5;
      color: #ffffff;
      cursor: pointer;
      scale: 1.1;
      transition: 0.5s all ease;
      border: none;
    }

    .contain-1 {

      display: grid;
      grid-template-columns: repeat(2,1fr);
      /* column-gap: 100px; */
      /* row-gap: 100px; */
      gap: 25px;
      grid-template-rows: 2;
      margin-bottom: 100px;
      padding: 20px;
      max-width: 1400px;
      margin: auto;
  }
  
  .box-1 {
    
    background: linear-gradient(90deg, #7337FD 0%, #31D9FF 53.65%, #F95CF1 100%);
      border-radius: 15px;
      padding-left:40px;
      padding-right: 40px;
      padding-top: 30px;
      height: 500px;
  }
  
.img-devices{
 display: block;
 margin: auto;
}

/* faqs */

.FAQs{
  display: block;
  margin: auto;
  margin-bottom: 100px;
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
}


.wrapper {
  width: 60%;
  margin: auto;
}

h1 {
  margin-bottom: 20px;
}

.container {
  background-color: #27262C;
  color: white;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgb(0,0,0,0.25);
  margin: 20px 0;
}

.question {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 80px 20px 20px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.question::after {
  content: "\002B";
  font-size: 2.2rem;
  position: absolute;
  right: 20px;
  transition: 0.2s;
}

.question.active::after {
  transform: rotate(45deg);
}

.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.answer {
  padding: 0 20px 20px;
  line-height: 1.5rem;
}

.question.active + .answercont {
}

@media screen and (max-width: 790px){
  html {
    font-size: 14px;
  }
  .wrapper {
  width: 80%;
}
}


.detalle-1{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 1400px;
  align-content: center;
  padding: 0 30px;
  margin: 60px auto;
  column-gap: 30px;
  
}

.info{
  display: block;
  margin: auto;
  padding: 0;
  
}

.titulo{
  font-family: var(--font-family);
  font-size: 2.5rem;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 0;
  margin-bottom: 10px;
  text-align: left;
  line-height:3.5rem;
  
}

.parrafo{
  font-size: 1rem;
  color: white;
  font-size: var(--font-family);
}

.detalle-serie-1{
 width: 100%;

}


.boton-detalle-serie{
    width: 200px;
      text-align: center;
      height: 60px;
      border-radius: 10px;
      background-color: transparent;
      color: #FFFFFF;
      border: 1px solid white;
      font-family: var(--font-family);
      font-weight: 600;
      margin-top: 50px;
      font-size: 1rem;
    
    }

    .boton-detalle-serie:hover {
      background-color: #9F09E5;
      color: #ffffff;
      cursor: pointer;
      scale: 1.1;
      transition: 0.5s all ease;
      border: none;
    }


    
