

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
  background-color: black;
}

.section-login{
width: auto;
height: 700px;
  background-image: url(../imagenes/Photo-3.png);
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  position: relative;
  background-size: contain;
  background-position: center;
  

}


.featured__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}


.titulo-card-login{
  color: #FFFFFF;
  z-index: 3;
  font-size: 3rem;
}

.titulo-formulario{
  font-size: 2rem;
  color: black;
  font-family: var(--font-family);
}

.parrafo-formulario{
  color: black;
  font-size: 1rem;
  font-family: var(--font-family);
}

.div-contenido{
  position: relative;
  z-index: 2;
  margin: 50px;
  padding: 20px;

}
.div-formulario{
  position: relative;
  z-index: 2;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;

}
.parrafo-card-login{
  color: #FFFFFF;
  z-index: 3;
  font-size: 1rem;
  
}

.boton-ver-ahora{
  width: 110px;
  height: 40px;
  border-radius: 10px;
  background-color: transparent;
  color: #FFFFFF;
  border: #FFFFFF solid 1.5px;
  font-family: var(--font-family);
  font-weight: 600;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 1rem;
}


.boton-ver-ahora:hover {
  background-color: #9f09e5;
  color: #ffffff;
  cursor: pointer;
  scale: 1.1;
  transition: 0.2s all ease;
  border: none;
  

}

.btn {
  padding: 8px 20px;
  border-radius: 0;
  overflow: hidden;
}

.btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    #9F09E5,
    transparent
  );
  transform: translateX(-100%);
  transition: 0.6s;
}

.btn:hover {
  background: transparent;
  box-shadow: 0 0 20px 10px hsla(204, 70%, 53%, 0.5);  
}

.btn:hover::before {
  transform: translateX(100%);
}

.form-input-material {
  --input-default-border-color: white;
  --input-border-bottom-color: white;
}

.form-input-material input {
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  color: rgb(0, 0, 0);
  background:white;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);  
}

.login-form h1 {
  margin: 0 0 24px 0;
}

.login-form .form-input-material {
  margin: 12px 0;
}

.login-form .btn {
  width: 100%;
  margin: 18px 0 9px 0;
}

.have-account-1{

  color: #6C6D6D;
  font-family: var(--font-family);
  font-size: .85rem;
  display: flex;
  align-items: center;
  margin-top: 0;
  padding: 10px;
  width: 300px;
  height: 20px;
  justify-content: center;

}


.button-sing-in{
  width: 100px;
  height: 20px;
  background-color: transparent;
  color: #6C6D6D;
  font-family: var(--font-family);
  font-weight: 400;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 0.75rem;
  border: none;
  margin: 0;
  padding: 0;
}


.button-sing-in:hover {
  background-color: transparent;
  color: #9F09E5;
  cursor: pointer;
  scale: 1.1;
  transition: 0.2s all ease;
  border: none;
  

}
